node_modules/
frontend-app-tests/test-results/
frontend-app-tests/playwright-report/
/blob-report/
/playwright/.cache/

npm-debug.log
.DS_Store

# IntelliJ
*.iml
/.idea

/test-results/
/playwright-report/